.Parent {
    display: block;
    text-align: center;
}
.card {
    border: 1px solid #000;
    padding: 10px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
    background-color: #f1f1f1;
}

.player-area {
    margin: 20px 0;
}